.aboutus1stpage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  
}
.pragma-title-aboutus {
  font-family: Noto Serif;
  font-style: display medium;
  font-size: 60px;
  line-height: 82px;
  color: #241757;
}
.pragma-subtitle-aboutus {
  display: flex;
  flex-direction: column;
  font-family: spartan;
  font-style: Mixed;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
}
.pragma-smalltitle-aboutus {
  display: flex;
  flex-direction: column;
  font-family: Spartan;
  font-style: Medium;
  font-size: 20px;
  line-height: 40px;
  color: #81849b;
}

/* right side */

@media (max-width: 480px){
 
  .aboutusvectorimg{
    width: 100px;
    /* margin-left: -55px; */

  }
}

/* 2nd page */
.aboutus2nd {
  margin-top: 5rem;
}
.aboutusimages {
  display: flex;
  flex-direction: row;
}
.aboutusimages2 {
  margin-top: 8rem;
}
.aboutusimages4 {
  margin-top: 8rem;
}

/* 3rd */
.our-mission-heading{
  font-family: Noto Serif;
  font-style: bold;
  font-size: 40px;
  line-height: 54px;
  color: #133876;
  font-weight: 400;

}
.our-mission-main-content{
  font-family: Spartan;
  font-size: 18px;
  line-height: 30px;
  color: #81849b;
  font-weight: 400;
}
.aboutus-content-heading {
  font-family: Noto Serif;
  font-style: bold;
  font-size: 40px;
  line-height: 54px;
  color: #133876;
  font-weight: 400;
}
.aboutus-more-content {
  font-family: Spartan;
  font-size: 18px;
  line-height: 30px;
  color: #81849b;
  font-weight: 400;
}
.Meettheteam-title {
  font-family: Noto Serif;
  font-style: bold;
  font-size: 40px;
  line-height: 54px;
  color: #133876;
  text-align: center;
  font-weight: 400;
}
.ajnit-sir {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.anjit-sir-pic-block {
  background: #5380ff;

  width: 22rem;
  height: 26rem;
}
.anjit-sir-pic {
  margin-top: 5rem;
  margin-left: 7rem;
  width: 20rem;
  height: 24rem;
}

@media (max-width: 480px){
  .anjit-sir-pic-block {
    background: #5380ff;
  
    width: 15rem;
    height: 19rem;
  }
  .anjit-sir-pic {
    margin-top: 3rem;
    margin-left: 4rem;
    width: 15rem;
    height: 19rem;
  }
 


}
.anjit-sir-bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20rem;
 
}
.anjit-sir-bio-conent {
  font-family: spartan;
  font-style: Regular;
  font-size: 18px;
  line-height: 35px;
  color: #81849b;
}
.anjit-sir-name {
  font-family: Noto Serif;
  font-style: bold;
  font-size: 40px;
  line-height: 35px;
  color: #133876;
}
.anjit-sir-sub-title {
  font-family: Spartan;
  font-style: Medium;
  font-size: 20px;
  line-height: 35px;
  color: #81849b;
  margin-top: -10rem;
}
.sadia-mam {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sadia-mam-bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-left: 20rem; */
}
.sadia-mam-bio-conent {
  font-family: spartan;
  font-style: Regular;
  font-size: 18px;
  line-height: 35px;
  color: #81849b;
}
.sadia-mam-name {
  font-family: Noto Serif;
  font-style: bold;
  font-size: 40px;
  line-height: 35px;
  color: #133876;
}
.sadia-mam-sub-title {
  font-family: Spartan;
  font-style: Medium;
  font-size: 20px;
  line-height: 35px;
  color: #81849b;
  /* margin-top: -10rem; */
}
.sadia-mam-pic-block {
  background: #5380ff;

  width: 22rem;
  height: 26rem;
}
.sadia-mam-pic {
  margin-top: 5rem;
  margin-left: -7rem;
  width: 20rem;
  height: 24rem;
}
.sadia-mam-sub-title {
  margin-top: -10rem;
}
.aboutus-footer {
  margin-top: 10rem;
}
.telephone-icon svg{
  fill: #5380ff;
}

@media (max-width: 480px){
  .anjit-sir-bio{
    margin-left: 0rem;
    margin-top: 24rem;
    margin-left: -193px;

  }
  .anjit-sir-sub-title{
    margin-top: 0rem;
  }
  .anjit-sir-name{
    margin-top: 5px;
  }
}
@media (max-width: 480px){
  .sadia-mam-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-left: 20rem; */
    margin-top: 31rem;
    margin-left: 1rem;
}
.sadia-mam-pic-block {
  background: #5380ff;
  width: 122rem;
  height: 21rem;
  margin-right: 3rem;
}
.sadia-mam-pic-block {
  background: #5380ff;
  width: 122rem;
  height: 21rem;
  margin-right: 0rem;
  margin-left: -4rem;
}
.sadia-mam-pic {
  margin-top: 5rem;
  margin-left: -7rem;
  width: 15rem;
  height: 20rem;
}
.sadia-mam-bio-conent {
  font-family: spartan;
  font-style: Regular;
  font-size: 18px;
  line-height: 35px;
  width: 243px;
  color: #81849b;
}
.sadia-mam-sub-title {
  margin-top: 0rem;
}
}