.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #5380ff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @media (min-width: 700px) {
    .hero {
      padding: 3rem;
    }
  }
  
  @media (min-width: 1200px) {
    .hero {
      padding: 6rem;
    }
  }
  
  .hero-inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 900px;
    margin: auto;
  }
  
  @media (min-width: 800px) {
    .hero-inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 2rem;
    }
  }
    
  
  .hero-inner p,
  .hero h2 {
    color: #fff;
  }
  
  .hero-button {
    background: #fff;
    color: #444;
    border: 0;
    padding: 1rem 2rem;
    display: inline-block;
    margin-top: 1rem;
  }
  
  @media (min-width: 700px) {
    .hero-button {
      margin-top: 2rem;
    }
  }
  
  .hero-image {
    order: -1;
    justify-items: center;
  }
  
  @media (min-width: 800px) {
    .hero-image {
      order: initial;
    }
  }
  
  .hero-image img {
    width: 100%;
  }
  
  .hero-form {
    margin-top: 1rem;
  }
  
  @media (min-width: 700px) {
    .hero-form {
      margin-top: 2rem;
    }
  }
  
  .hero-form-input {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  @media (min-width: 400px) {
    .hero-form-input {
      display: grid;
      grid-template-columns: 1fr auto;
    }
  }
  
  .hero-email-input {
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .hero-form-submit {
    background-color: #F50057;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    margin-top: .5rem;
  }
  
  @media (min-width: 400px) {
    .hero-form-submit {
      margin-top: 0;
    }
  }



  

.formbold-mb-5 {
  margin-bottom: 20px;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: white;
}
.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 12px;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #5380ff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #5380ff;
  color: white;
  width: 100%;
  cursor: pointer;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}
.Thankyou-alert{
  text-align: center;
  font-size: 42px;
  color: dodgerblue;
}
.contactus-shadow{
  box-shadow: 0px 9px 84px rgba(0, 72, 211, 0.11);
}

.contactus-title{
    display: flex;
    /* text-align: center; */
    justify-content: flex-end;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: #241757;
    

}
.contactus-subtitle{
  font-size: 25px;
}
.contactus-main-title{
  font-family: 'Noto Serif';
font-style: normal;
font-weight: 700;
font-size: 50px;


text-align: center;
text-transform: capitalize;

color: #241757;

}

.contactus-sub-title{
  font-family: 'Spartan';
font-style: normal;
font-weight: 500;
font-size: 18px;

/* or 178% */

text-align: center;
text-transform: capitalize;

color: #8d8e96;
}

@media (max-width: 480px){
  .contactus-banner-image {
    position: relative;
    /* background: linear-gradient(rgba(55, 55, 55, 0.8), #0e0e0e8a), url(http://localhost:3000/static/media/Contactusbanner.7a8cd9a….png); */
    background-size: cover;
    height: 0vh;
    width: 0%;
    
    /* opacity: 0.5; */
}
}  
.yourmessage{
  height: 79px;
}




