.single_profile_bannerr{
    position: absolute;
    opacity: 0.5;
    /* background-size: cover; */
    width: 100%;
    height: 18rem;
   
    
}
.background-single-profile{
    /* background-color: rgb(224, 253, 253); */
    color:  #241757;
    /* position: absolute; */
    
    

}
.NavbarSingleProfile{
    box-shadow: 0px 4px 24px 14px rgba(0, 0, 0, 0.1);
}
.bannertext{
    color:  #241757;
    position: absolute;
width: 480px;
height: 35px;
left: 595px;
top: 204px;

font-family: 'Noto Serif';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 35px;

}
.single-profile-image{
    height: 12rem;
    width: 13rem;
    border-radius: 50%;
    border: solid5px red;
}
.imageplusemail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.single-profile-mail{
    margin-top: 4rem;
    color: #241757;
    margin-left:31rem;
    font-size: 18px;
    font-weight: 400;

}
.single-profile-phone{
    margin-top: 4rem;
    color: #241757;
    font-size: 18px;
    font-weight: 400;

}
.single-profile-mail svg{
    fill: #5380ff;
    font-family: Noto Serif;
    height: 25px;
    width: auto;
}
.single-profile-phone svg{
    fill: #5380ff;
    height: 21px;
    width: auto;
}
.card-content-sec{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.single-profile-name{
    color: #241757;
    font-family: Spartan;
    font-style: Bold;
    font-size: 30px;
    font-weight: 400;

}
.single-profile-designation-name{
    color: #5380ff;
    font-family: Spartan;
    font-style: Bold;
    font-size: 30px;
    font-weight: 400;

}
.single-profile-practices-names{

font-family: 'Spartan';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
color: #241757;
}
.single-profile-city{
    font-family: 'Spartan';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
color: #241757;

}
.single-profile-state{
    font-family: 'Spartan';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
color: #241757;
text-transform: capitalize;

}