
.banner-text{
    text-align: center;
    position: absolute;
    
}
.contactus-banner-image{
    position: relative;
    background: linear-gradient(rgba(55, 55, 55, 0.8), #0e0e0e8a),
    url("../../assets/Contactusbanner.png");
    background-size: cover;
    height: 50vh;
    width: 100%;
    text-align: center;
    /* opacity: 0.5; */
    
}
.contactus-banner-text{
position: absolute;
font-family: 'Noto Serif';
font-style: bold;
font-weight: 700;
font-size: 45px;
text-align: center;
text-transform: capitalize;
color: #fff;
top: 50%;
margin-left: -90px;
}


.formbold-mb-5 {
    margin-bottom: 20px;
  }
  .formbold-pt-3 {
    padding-top: 12px;
  }
  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
  }
  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
  }
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #5380ff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #5380ff;
    color: white;
    width: 100%;
    cursor: pointer;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }
  @media (min-width: 540px) {
    .sm\:w-half {
      width: 50%;
    }
  }
  .Thankyou-alert{
    text-align: center;
    font-size: 42px;
    color: dodgerblue;
  }
  .contactus-shadow{
    box-shadow: 0px 9px 84px rgba(0, 72, 211, 0.11);
  }

  .contactus-title{
      display: flex;
      /* text-align: center; */
      justify-content: flex-end;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
  
  }
  .contactus-main-title{
    font-family: 'Noto Serif';
font-style: normal;
font-weight: 700;
font-size: 40px;


text-align: center;
text-transform: capitalize;

color: #241757;

  }

  .contactus-sub-title{
    font-family: 'Spartan';
font-style: normal;
font-weight: 500;
font-size: 18px;

/* or 178% */

text-align: center;
text-transform: capitalize;

color: #8d8e96;
  }

  @media (max-width: 480px){
    .contactus-banner-image {
      position: relative;
      /* background: linear-gradient(rgba(55, 55, 55, 0.8), #0e0e0e8a), url(http://localhost:3000/static/media/Contactusbanner.7a8cd9a….png); */
      background-size: cover;
      height: 0vh;
      width: 0%;
      
      /* opacity: 0.5; */
  }
  }  
  .yourmessage{
    height: 79px;
  }