body {
  background-color: antiquewhite;
  font-family: "Noto Serif";
}

/* #root{
  overflow-x:hidden ;
} */

/* .styles_overlay-wrapper__O0Zm8 .styles_overlay-content__1qZR_ {
  padding: 2em;
  background-color: transparent;
  max-width: 600px;
  position: relative;
  margin: auto;
  transition: opacity 0.85s;
} */

